<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Database</title>
</head>
<body>
    <h2>Welcome to our website. How we can help you with database. let us know your requirement.</h2>
    <form action="/search" method="POST">
        <input type="phone" id="inputPhone" placeholder="Your phone number" name="phone">
        <input type="submit" value="Click here">
    </form>

</body>
</html>